---
name: CI

'on':
  pull_request:
    branches: [main]
    types: [opened, ready_for_review, reopened, synchronize]
  push:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.number || github.ref }}
  cancel-in-progress: ${{ github.ref_name != 'main' }}

jobs:
  prepare:
    name: Prepare
    runs-on: ubuntu-latest
    outputs:
      files: ${{ steps.config.outputs.files }}
      name: ${{ steps.config.outputs.name }}
    steps:
      - name: Configure
        id: config
        env:
          files: |-
            olimex-bluetooth-proxy-1349f4.yaml
        run: |
          files=$(echo "${{ env.files }}" | tr -d '\n' | jq -Rcn 'inputs | . / ","')
          echo "files=$files" >> $GITHUB_OUTPUT
          echo "name=${{ github.event.repository.name }}" >> $GITHUB_OUTPUT

  build-firmware:
    name: Build firmware
    needs: [prepare]
    outputs:
      esphome-version: ${{ steps.esphome-build.outputs.version }}
    runs-on: ubuntu-latest
    strategy:
      matrix:
        file: ${{ fromJson(needs.prepare.outputs.files) }}
    steps:
      - name: Checkout source code
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Build ESPHome firmware for ${{ matrix.file }}
        id: esphome-build
        uses: esphome/build-action@f93bda46d83c761cd25bbfdf350cfe508a0a39d5 # v7.1.0
        with:
          version: 2025.11.4 # renovate: datasource=github-releases depName=esphome/esphome versioning=loose
          yaml-file: ${{ matrix.file }}
      - run: |
          mkdir output
          mv "${{ steps.esphome-build.outputs.name }}" output/
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: ${{ needs.prepare.outputs.name }}
          path: output

  build:
    name: Build
    runs-on: ubuntu-latest
    needs: [build-firmware]
    steps:
      - name: Complete
        run: echo "Build completed"

  publish:
    if: github.repository == 'marcusrbrown/esphome.life'
    name: Publish
    runs-on: ubuntu-latest
    needs: [prepare, build]
    steps:
      - id: get-workflow-app-token
        name: Get Workflow Application Token
        uses: actions/create-github-app-token@7e473efe3cb98aa54f8d4bac15400b15fad77d94 # v2.2.0
        with:
          app-id: ${{ secrets.APPLICATION_ID }}
          private-key: ${{ secrets.APPLICATION_PRIVATE_KEY }}
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
        with:
          ref: ${{ github.head_ref }}
          token: ${{ steps.get-workflow-app-token.outputs.token }}
      - uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          path: output
          name: ${{ needs.prepare.outputs.name }}
      - run: |
          # Create single manifest.json
          jq -s '{"name": "${{ needs.prepare.outputs.name }}", "version": "${{ needs.build.outputs.esphome-version }}", "home_assistant_domain": "esphome", "new_install_skip_erase": false, "builds":.}' output/*/manifest.json > output/manifest.json
          cp -R static/* output
      - env:
          dry-run: ${{ github.ref != 'refs/heads/main' }}
        name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@4a3abc783e1a24aeb44c16e869ad83caf6b4cc23 # v4.7.4
        with:
          branch: gh-pages
          clean: true
          dry-run: ${{ env.dry-run }}
          folder: output
          git-config-email: 137683033+mrbro-bot[bot]@users.noreply.github.com
          git-config-name: mrbro-bot[bot]
          token: ${{ steps.get-workflow-app-token.outputs.token }}
